
<div class="nav-wrapper">
    <ul id="nav"
        class="nav"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li class="nav-title"> <span translate="NAVIGATION"></span> </li>
        <li><a md-button aria-label="menu" href="#!/dashboard"><i class="material-icons">assessment</i><span>全院门诊量分析</span></a></li>
        <li><a md-button aria-label="menu" href="#!/dashboard"><i class="material-icons">monetization_on</i><span>全院门诊收入分析</span></a></li>
    </ul>
</div>