
<div class="nav-wrapper">
    <ul id="nav"
        class="nav"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li class="nav-title"> <span translate="NAVIGATION"></span> </li>
        <li><a md-button aria-label="menu" href="#!/station/map"><i class="material-icons">map</i><span>室内地图</span></a></li>
        <li><a md-button aria-label="menu" href="#!/suspect/wizard"><i class="material-icons">person_add</i><span>入所登记</span></a></li>
        <li><a md-button aria-label="menu" href="#!/suspect/list"><i class="material-icons">person_pin</i><span>嫌疑对象</span></a></li>
        <li class="nav-divider"></li>
        <li><a md-button aria-label="menu" href="#!/dashboard"><i class="material-icons">home</i></i><span>数据统计</span></a></li>
        <li><a md-button aria-label="menu" href="#!/settings"><i class="material-icons">settings</i><span>系统配置</span></a></li>
    </ul>
</div>