
<div class="page page-table" data-ng-controller="TableCtrl">

    <div class="row ui-section">
    <div class="col-lg-8 clearfix">
        <h2 class="section-header">嫌疑人员检索</h2>
    </div>
    <div class="col-md-12">
        <section class="panel panel-default table-dynamic">
        <div class="table-filters">
            <div class="row">
            <div class="col-sm-4 col-xs-6">
                <form>
                <input type="text"
                     placeholder="派出所，姓名，状态，入所事由，离所事由……"
                     class="form-control"
                     data-ng-model="searchKeywords"
                     data-ng-keyup="search()">
                </form>
            </div>
            <div class="col-sm-3 col-xs-6 filter-result-info">
                <span>
                显示 {{filteredStores.length}}/{{stores.length}} 条
                </span>                
            </div>
            </div>
        </div>

        <table class="table table-bordered table-striped table-responsive">
            <thead>
            <tr>
                <th><div class="th">
                派出所
                <span class="fa fa-angle-up"
                    data-ng-click=" order('station') "
                    data-ng-class="{active: row == 'station'}"></span>
                <span class="fa fa-angle-down"
                    data-ng-click=" order('-station') "
                    data-ng-class="{active: row == '-station'}"></span>
                </div></th>
                <th><div class="th">
                姓名
                <span class="fa fa-angle-up"
                    data-ng-click=" order('name') "
                    data-ng-class="{active: row == 'name'}"></span>
                <span class="fa fa-angle-down"
                    data-ng-click=" order('-name') "
                    data-ng-class="{active: row == '-name'}"></span>
                </div></th>
                <th><div class="th">
                入所事由
                <span class="fa fa-angle-up"
                    data-ng-click=" order('source') "
                    data-ng-class="{active: row == 'source'}"></span>
                <span class="fa fa-angle-down"
                    data-ng-click=" order('-source') "
                    data-ng-class="{active: row == '-source'}"></span>
                </div></th>
                <th><div class="th">
                离所事由
                <span class="fa fa-angle-up"
                    data-ng-click=" order('status') "
                    data-ng-class="{active: row == 'status'}"></span>
                <span class="fa fa-angle-down"
                    data-ng-click=" order('-status') "
                    data-ng-class="{active: row == '-status'}"></span>
                </div></th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="store in currentPageStores">
                <td>{{store.station}}</td>
                <td>{{store.name}}</td>
                <td>{{store.source}}</td>
                <td>{{store.status}}</td>
            </tr>
            </tbody>
        </table>

        <footer class="table-footer">
            <div class="row">
            <div class="col-md-6 page-num-info">
                <span>
                每页显示 
                <select data-ng-model="numPerPage"
                    data-ng-options="num for num in numPerPageOpt"
                    data-ng-change="onNumPerPageChange()">
                </select> 
                条
                </span>
            </div>
            <div class="col-md-6 text-right pagination-container">
                <uib-pagination class="pagination-sm"
                    ng-model="currentPage"
                    total-items="filteredStores.length"
                    max-size="4"
                    ng-change="select(currentPage)"
                    items-per-page="numPerPage"
                    rotate="false"
                    first-text="&laquo;" last-text="&raquo;"
                    previous-text="&lsaquo;" next-text="&rsaquo;"
                    boundary-links="true"></uib-pagination>
            </div>
            </div>
        </footer>
        </section>
    </div>
    </div>
    
</div>