<div class="page page-station-map" ng-class="{'containeroverflow':isSpaceListOpen}" ng-controller="stationMapCtrl">
    <div class="main">
        <div class="mall" ng-class="{'mall-content-open':isOpenContentArea}">
            <div class="surroundings" ng-class="{'surroundings-hidden':!showingSurroundings}">
                <img class="surroundings-map" src="/assets/images/maps/surroundings.svg" alt="Surroundings"/>
            </div>
            <div class="levels levels-selected-{{ selectedLevel }}" ng-class="{'levels-open':isExpanded}">
                <div class="level level-{{ level.level }}" ng-repeat="level in levels" ng-class="{'level-current':selectedLevel == level.level || prevSelectedLevel == level.level, 'level-moveOutUp':movingOutDirection == 'Up' && prevSelectedLevel == level.level, 'level-moveOutDown':movingOutDirection == 'Down' && prevSelectedLevel == level.level}" ng-click="showLevel(level.level)" aria-label="{{ level.level }}层">
                    <span ng-include="'/assets/images/maps/level-' + level.level + '.svg'"></span>
                    <div class="level-pins" ng-class="{'level-pins-active':selectedLevel == level.level && showingPins}">
                        <a ng-repeat="target in targets" ng-if="target.level == level.level" class="pin pin-{{ level.level }}-{{ target.id }}" ng-class="{'pin-active':selectedTarget.id == target.id}" data-category="{{ target.category }}" data-space="{{ target.space }}" aria-label="{{ target.name }}" ng-click="openContent(target)" ng-style="{top:target.y + 'vmin'}">
                            <span class="pin-icon">
                                <svg class="icon icon-pin"><use xlink:href="#icon-pin"></use></svg>
                                <span class="icon-label">{{ target.id }}</span>
                            </span>
                        </a>
                    </div>
                    <!-- /level-pins -->
                </div>
            </div>
            <!-- /levels -->
        </div>
        <!-- /mall -->
        <button class="boxbutton boxbutton-dark open-search" aria-label="Show search"><svg class="icon icon-search" ng-click="openSearch()"><use xlink:href="#icon-search"></use></svg></button>
        <nav class="mallnav" ng-class="{'mallnav-hidden':!showingMallNav}">
            <button class="boxbutton mallnav-button-up" ng-class="{'boxbutton-disabled':selectedLevel == levels.length || isOpenContentArea}" aria-label="Go up" ng-click="navigate('Down')"><svg class="icon icon-angle-down"><use xlink:href="#icon-angle-up"></use></svg></button>
            <button class="boxbutton boxbutton-dark mallnav-button-all-levels" aria-label="Back to all levels" ng-click="showAllLevels()"><svg class="icon icon-stack"><use xlink:href="#icon-stack"></use></svg></button>
            <button class="boxbutton mallnav-button-down" ng-class="{'boxbutton-disabled':selectedLevel == 1 || isOpenContentArea}" aria-label="Go down" ng-click="navigate('Up')"><svg class="icon icon-angle-down"><use xlink:href="#icon-angle-down"></use></svg></button>
        </nav>
        <div class="content">
            <div class="content-item" ng-class="{'content-item-current':selectedTarget.id == target.id,'content-open':slidingSpace}" ng-repeat="target in targets" data-space="{{ target.space }}" data-category="{{ target.category }}">
                <h3 class="content-item-title">{{ target.name }}</h3>
                <div class="content-item-details">
                    <p class="content-meta">
                        <span class="content-meta-item" ng-if="target.status"><strong>状态：</strong> {{ target.status }}</span> 
                        <span class="content-meta-item"><strong>位置：</strong> {{ target.space }}</span>
                    </p>
                </div>
            </div>
            <!-- <video src="https://o5qb3884t.qnssl.com/%E5%BC%80%E5%9C%BA%E8%A7%86%E9%A2%91.mp4"  preload="none" class="content-item" ng-class="{'content-item-current':true}"></video> -->
            <button class="boxbutton boxbutton-dark content-button" ng-class="{'content-button-hidden':!isOpenContentArea}" aria-label="Close details"><svg class="icon icon-cross" ng-click="closeContentArea()"><use xlink:href="#icon-cross"></use></svg></button>
        </div>
        <!-- content -->
    </div>
    <!-- /main -->
    <aside class="spaces-list" ng-class="{'spaces-list-open':isSpaceListOpen}" id="spaces-list">
        <div class="search">
            <input class="search-input" placeholder="搜索…" ng-model="targetNameSearch" />
            <button class="boxbutton boxbutton-darker close-search" aria-label="Close details"><svg class="icon icon-cross" ng-click="closeSearch()"><use xlink:href="#icon-cross"></use></svg></button>
        </div>
        <ul class="list grouped-by-category">
            <li class="list-item" ng-class="{'list-item-active':selectedTarget.id == target.id}" ng-repeat="target in targets | filter:targetNameSearch" data-level="{{ target.level }}" data-category="{{ target.category }}" data-space="{{ target.space }}">
                <a href="" class="list-link" ng-click="closeSearch();showLevel(target.level);openContent(target)">{{ target.name }}</a>
            </li>
        </ul>
    </aside>
    <!-- /spaces-list -->
</div>
<!-- /container -->
<svg class="hidden">
    <defs>
        <symbol id="icon-pin" viewBox="0 0 200 300">
            <title>pin</title>
            <path d="M100,21.78A85,85,0,0,0,15.18,106.6c0,18.85,12.08,49.52,36.76,93.9,17.48,31.36,34.7,57.49,35.47,58.6L100,278.22l12.59-19.11c0.69-1.11,18-27.25,35.47-58.6,24.76-44.38,36.76-75.06,36.76-93.9A85,85,0,0,0,100,21.78Z" />
        </symbol>
        <symbol id="icon-search" viewBox="0 0 32 32">
            <title>search</title>
            <path class="path1" d="M26.819 24.917c0.262 0.262 0.262 0.688 0 0.951l-0.951 0.951c-0.263 0.262-0.688 0.262-0.951 0l-6.656-6.656c-0.072-0.072-0.12-0.158-0.153-0.248-1.365 0.998-3.041 1.593-4.862 1.593-4.562 0-8.261-3.699-8.261-8.261s3.699-8.261 8.261-8.261c4.562 0 8.261 3.699 8.261 8.261 0 1.821-0.595 3.497-1.593 4.862 0.091 0.032 0.176 0.080 0.248 0.153l6.656 6.656zM13.246 7.739c-3.041 0-5.508 2.466-5.508 5.508s2.466 5.508 5.508 5.508 5.508-2.466 5.508-5.508c0-3.041-2.466-5.508-5.508-5.508z"></path>
        </symbol>
        <symbol id="icon-stack" viewBox="0 0 32 32">
            <title>stack</title>
            <path class="path1" d="M29.143 11.071l-13.143-6.571-13.143 6.571 13.143 6.571 13.143-6.571zM16 6.681l8.781 4.39-8.781 4.39-8.781-4.39 8.781-4.39zM26.51 14.684l2.633 1.316-13.143 6.571-13.143-6.571 2.633-1.316 10.51 5.255zM26.51 19.612l2.633 1.316-13.143 6.571-13.143-6.571 2.633-1.316 10.51 5.255z"></path>
        </symbol>
        <symbol id="icon-cross" viewBox="0 0 24 24">
            <title>cross</title>
            <path class="path1" d="M18.016 5.125q0.369 0 0.614 0.245t0.245 0.614q0 0.363-0.248 0.611l-5.411 5.405 5.411 5.405q0.248 0.248 0.248 0.611 0 0.369-0.245 0.614t-0.614 0.245q-0.363 0-0.611-0.248l-5.405-5.411-5.405 5.411q-0.248 0.248-0.611 0.248-0.369 0-0.614-0.245t-0.245-0.614q0-0.363 0.248-0.611l5.411-5.405-5.411-5.405q-0.248-0.248-0.248-0.611 0-0.369 0.245-0.614t0.614-0.245q0.363 0 0.611 0.248l5.405 5.411 5.405-5.411q0.248-0.248 0.611-0.248z"></path>
        </symbol>
        <symbol id="icon-droplet" viewBox="0 0 32 32">
            <title>droplet</title>
            <path class="path1" d="M27.020 14.786c-2.055-5.732-6.41-10.88-11.020-14.786-4.61 3.907-8.965 9.054-11.020 14.786-1.271 3.545-1.396 7.393 0.393 10.794 2.058 3.911 6.207 6.42 10.626 6.42s8.569-2.509 10.626-6.42c1.79-3.401 1.664-7.249 0.393-10.794zM23.086 23.717c-1.369 2.602-4.15 4.283-7.086 4.283-1.723 0-3.391-0.579-4.753-1.583 0.414 0.054 0.832 0.083 1.254 0.083 3.67 0 7.146-2.1 8.856-5.351 1.402-2.665 1.281-5.433 0.746-7.636 0.455 0.88 0.841 1.756 1.151 2.623 0.706 1.971 1.251 4.886-0.168 7.581z"></path>
        </symbol>
        <symbol id="icon-angle-up" viewBox="0 0 21 32">
            <title>angle-up</title>
            <path class="path1" d="M19.196 21.143q0 0.232-0.179 0.411l-0.893 0.893q-0.179 0.179-0.411 0.179t-0.411-0.179l-7.018-7.018-7.018 7.018q-0.179 0.179-0.411 0.179t-0.411-0.179l-0.893-0.893q-0.179-0.179-0.179-0.411t0.179-0.411l8.321-8.321q0.179-0.179 0.411-0.179t0.411 0.179l8.321 8.321q0.179 0.179 0.179 0.411z"></path>
        </symbol>
        <symbol id="icon-angle-down" viewBox="0 0 21 32">
            <title>angle-down</title>
            <path class="path1" d="M19.196 13.143q0 0.232-0.179 0.411l-8.321 8.321q-0.179 0.179-0.411 0.179t-0.411-0.179l-8.321-8.321q-0.179-0.179-0.179-0.411t0.179-0.411l0.893-0.893q0.179-0.179 0.411-0.179t0.411 0.179l7.018 7.018 7.018-7.018q0.179-0.179 0.411-0.179t0.411 0.179l0.893 0.893q0.179 0.179 0.179 0.411z"></path>
        </symbol>
    </defs>
</svg>